@model AsMinhasReviews.Models.Utilizadores

@{
    ViewData["Title"] = "Reviews do utilizador";
}

<h1>Reviews de @Model.Nome</h1>
<div>
    <hr />
    <table class="table">
        @foreach (var review in Model.ListaReviews ?? Enumerable.Empty<Reviews>())
        {
            <tr>
                <td style="padding-left:0px; padding-right:8px;">
                    <div class="listarating" style="float: right">@review.Rating <img src="~/Fotos/estrela.png" height="22.5px" style="margin-bottom:7.5px;" /></div>
                    <div class="listadesc"><a class="textoreview" asp-controller="Reviews" asp-action="Details" asp-route-id="@review.Id">@review.Conteudo</a></div>
                    <div class="listainfo">@review.DataCriacao.ToLongDateString()</div>
                </td>
            </tr>
        }
    </table>
</div>